*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-gold: #FFAE2B;
    --bg-gray: #ACA592;
    --bg-dark: #181511;
}

nav{
    width: 100%;
    height: 80px;
    background: #111;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: #ddd;
}
.nav_left{
    display: flex;
    align-items: center;
}
.nav_collection{
    display: flex;
    list-style: none;
}
.logo{
    color: var(--bg-gold);
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin-right: 42px;
}

.nav_item{
    color: var(--bg-gray);
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 12px;
}
.nav_item:first-child{
    color: var(--bg-gold);
}
.nav_btn{
    width: 147px;
    height: 52px;
    background: transparent;
    color: var(--bg-gold);
    text-transform: uppercase;
    border: 1px solid var(--bg-gold);
}
.banner{
    width: 100%;
    height: 600px;
    background: url('./7af42e48362503024bcaab2b147adf51.jpg') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.h3{

}


.banner_h1{
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    width: 600px;
    text-align: center;
    margin-bottom: 35px;
}


.btn{
    font-size: 11px;
    text-transform: uppercase;
    padding: 14px 24px;
    background-color: var(--bg-gold);
    border: none;
    color: #fff;
}



.main{
    width: 100%;
    min-height: 1000vh;
    background-color: var(--bg-dark);
}


.core{
    color: var(--bg-gray);
    text-align: center;
    padding-top: 120px;
}

.main_title{
    color: var(--bg-gold);
    text-align: center;
    padding-top: 5px;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 50px;
}


.wrapper{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 31%;
    margin: 9px;
    height: 315px;
    border: 1px solid var(--bg-gold);
    padding: 41px;
}

.box img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.box p{
    text-align: center;
    color: var(--bg-gray);
}



















/* Planshet uchun */
@media screen and (max-width: 990px) {
    .nav_collection{
        display: none;
    }
    .banner h1{
        width: 90%;
        font-size: 34px;
    }

    .box{
        width: 47%;
    }


}

/* for Mobile */
@media screen and (max-width:600px) {
    nav{
        padding: 0 20px;
    }
    .nav_btn{
        width: 110px;
        height: 40px;
        font-size: 12px;
    }

    .box{
        width: 100%;
    }

}


